$white: #FFFF;
$black: #000000;
$gray1: #F8F9FA;
$gray2: #E9ECEF;
$gray3: #DEE2E6;
$gray4: #CED4DA;
$gray5: #ADB5BD;
$gray6: #6C757D;
$gray7: #495057;
$gray8: #343A40;
$gray9: #212529;
$blue1: #E8ECFF;
$blue2: #CCD6FF;
$blue3: #B4C2FF;
$blue4: #9FB1FF;
$blue5: #7E96FF;
$redDelte: #FA867F;
$blueCreate: #1C3F95;
$realBlue: #004AFF;
$red: #FF3B30;

