@use '@/styles/constants/colors.scss' as colors;


.button {
    color: colors.$white;
    background-color: colors.$blue4;
    border-radius: 5px;
    border: solid 0px;
    width: 75px;
    height: 25px;
    padding: 0 2px;
    font-family: 'regular';
    font-size: 12px;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

}