@use '@/styles/constants/colors.scss' as colors;


.container {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 100px;
    // border: solid 1px colors.$gray6;
    border: transparent;
    background-color: colors.$white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: move; // 드래그 가능함을 나타내는 커서
    transition: transform 0.3s ease, opacity 0.3s ease;

    .leftLine {
        position: relative;
        // background-color: colors.$blue3;
        background-color: colors.$blue3;
        border: 0;
        // width: 10px;
        // height: 100%;
        width: 0px;
        height: 0px;
    }

    .content {
        flex: 1;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 12px;
        font-family: 'regular';
        color: colors.$gray8;
    }
}
