@use '@/styles/constants/colors.scss' as colors;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); // 반투명 배경
  display: flex;
  justify-content: center; // 가로 중앙 정렬
  align-items: center; // 세로 중앙 정렬
  z-index: 10000;
}

.modalContent {
  background-color: white;
  padding: 15px 20px;
  // border-radius: 8px;
  max-width: 1000px;
  // left: 33%;
  // transform: translateX(-50%);
  width: 90%;
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); // 모달 그림자
  position: relative;

  img {
    max-width: 100%;
    margin-bottom: 15px;
    max-height: 600px;
  }
}

.title {
  font-family: 'medium';
  font-size: 24px;
  color: colors.$red;
  // margin-bottom: 5px;
  display: flex;
  // align-items: center;
  gap: 15px;
  line-height: 1;

  img {
    width: 24px;
    // height: 24px;
    // margin-top: 10px;
    // padding-top: 10px;
    // vertical-align: middle; // 세로 정렬 미세 조정
  }
}

.content {
  font-size: 18px;
}

.xbutton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
