@use '@/styles/constants/colors.scss' as colors;

.layout {
    z-index: 0;
    margin-left: 210px;
    // margin-top: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: colors.$gray1;
    overflow: hidden; // 스크롤 비활성화

    .container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        // height: 100%; // 높이를 100%로 설정하여 전체 높이에 맞춤
        overflow-y: auto; // 세로 스크롤 활성화
        overflow-x: auto; // 가로 스크롤 활성화
        scrollbar-width: none; // Firefox에서 스크롤바 숨기기

        &::-webkit-scrollbar {
            display: none; // Chrome, Safari에서 스크롤바 숨기기
        }

        .title {
            font-family: 'medium';
            font-size: 18px;
            color: colors.$gray8;
            box-sizing: border-box;
            width: 1100px;
            padding: 20px 10px;
            z-index: 0;
            background-color: transparent;
        }

        // @media (max-width: 1200px) {

        //     .title {
        //         width: 800px;
        //     }

        // }

        // @media (max-width: 768px) {
        //     .title {
        //         width: 760px;
        //     }

        // }

    }

}
